<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.feng.dao.UserMapper">


    <select id="getUsersByName" parameterType="string" resultType="cn.feng.entity.User">
        SELECT Id,username,password,role_id,create_time,last_login_time FROM tb_user WHERE username= #{username}
    </select>

    <resultMap id="userInfoMap" type="cn.feng.entity.UserInfo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="num" property="num"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <association column="role_id" property="role" javaType="cn.feng.entity.Role">
            <id column="role_id" property="id"/>
            <result column="role_name" property="roleName"/>
        </association>
    </resultMap>

    <select id="listUserInfo" resultMap="userInfoMap" parameterType="cn.feng.entity.User">
        SELECT * from view_userInfo
        <where>
            <if test="roleId !=null">
                role_id = #{roleId}
            </if>
        </where>
    </select>


</mapper>