USE [student]
GO
/****** Object:  Table [dbo].[tb_student]    Script Date: 2018/7/6 14:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[student_name] [varchar](30) NOT NULL,
	[student_num] [varchar](30) NOT NULL,
	[gender] [int] NULL,
	[enter_school_time] [varchar](30) NULL,
	[major] [varchar](30) NOT NULL,
	[email] [varchar](30) NULL,
	[phone] [varchar](30) NULL,
	[aver_path] [varchar](30) NULL,
	[class_id] [int] NULL,
	[school_id] [int] NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_class]    Script Date: 2018/7/6 14:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_class](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [varchar](30) NOT NULL,
	[comment] [varchar](40) NOT NULL,
	[create_time] [varchar](30) NULL,
 CONSTRAINT [PK_tb_class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_school]    Script Date: 2018/7/6 14:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_school](
	[school_id] [int] IDENTITY(1,1) NOT NULL,
	[school_name] [varchar](40) NOT NULL,
	[address] [varchar](80) NOT NULL,
 CONSTRAINT [PK_tb_school] PRIMARY KEY CLUSTERED 
(
	[school_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_studentInfo]    Script Date: 2018/7/6 14:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_studentInfo]
AS
SELECT   s.Id, s.student_name, s.student_num, s.gender, s.enter_school_time, s.major, s.email, s.phone, s.aver_path, s.class_id, 
                s.school_id, c.comment, c.create_time, c.class_name, dbo.tb_school.school_name
FROM      dbo.tb_student AS s INNER JOIN
                dbo.tb_class AS c ON s.class_id = c.Id INNER JOIN
                dbo.tb_school ON s.school_id = dbo.tb_school.school_id
GO
/****** Object:  Table [dbo].[tb_role]    Script Date: 2018/7/6 14:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_user]    Script Date: 2018/7/6 14:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_user](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](30) NOT NULL,
	[num] [varchar](20) NULL,
	[password] [varchar](20) NOT NULL,
	[gender] [int] NULL,
	[role_id] [int] NULL,
	[create_time] [varchar](35) NULL,
	[last_login_time] [varchar](35) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_userInfo]    Script Date: 2018/7/6 14:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_userInfo] as select u.*,r.Id as roleId, r.role_name from tb_user u inner join tb_role r on u.role_id = r.Id
GO
/****** Object:  Table [dbo].[tb_systemLog]    Script Date: 2018/7/6 14:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_systemLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[user_name] [varchar](25) NULL,
	[operation_time] [varchar](30) NULL,
	[operation] [varchar](35) NULL,
 CONSTRAINT [PK_systemLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_class] ON 

INSERT [dbo].[tb_class] ([Id], [class_name], [comment], [create_time]) VALUES (1, N'1501', N'优秀', N'')
INSERT [dbo].[tb_class] ([Id], [class_name], [comment], [create_time]) VALUES (3, N'1502', N'优秀', NULL)
INSERT [dbo].[tb_class] ([Id], [class_name], [comment], [create_time]) VALUES (4, N'1503', N'优秀', NULL)
SET IDENTITY_INSERT [dbo].[tb_class] OFF
SET IDENTITY_INSERT [dbo].[tb_role] ON 

INSERT [dbo].[tb_role] ([Id], [role_name]) VALUES (1, N'普通用户')
INSERT [dbo].[tb_role] ([Id], [role_name]) VALUES (2, N'教学秘书')
INSERT [dbo].[tb_role] ([Id], [role_name]) VALUES (3, N'管理员')
SET IDENTITY_INSERT [dbo].[tb_role] OFF
SET IDENTITY_INSERT [dbo].[tb_school] ON 

INSERT [dbo].[tb_school] ([school_id], [school_name], [address]) VALUES (1, N'武汉大学211', N'武汉        ')
INSERT [dbo].[tb_school] ([school_id], [school_name], [address]) VALUES (2, N'华中科技大学', N'武汉        ')
INSERT [dbo].[tb_school] ([school_id], [school_name], [address]) VALUES (3, N'湖北师范', N'黄石        ')
SET IDENTITY_INSERT [dbo].[tb_school] OFF
SET IDENTITY_INSERT [dbo].[tb_student] ON 

INSERT [dbo].[tb_student] ([Id], [student_name], [student_num], [gender], [enter_school_time], [major], [email], [phone], [aver_path], [class_id], [school_id]) VALUES (2, N'sam', N'11', NULL, N'', N'MajorTest', N'1501', N'4545645654444', NULL, 1, 1)
INSERT [dbo].[tb_student] ([Id], [student_name], [student_num], [gender], [enter_school_time], [major], [email], [phone], [aver_path], [class_id], [school_id]) VALUES (3, N'lisi', N'12', NULL, N'', N'MajorTest', N'', N'45666', NULL, 1, 1)
INSERT [dbo].[tb_student] ([Id], [student_name], [student_num], [gender], [enter_school_time], [major], [email], [phone], [aver_path], [class_id], [school_id]) VALUES (4, N'张三', N'54645', NULL, N'2018-07-10', N'MajorTest', N'1502', N'', NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[tb_student] OFF
SET IDENTITY_INSERT [dbo].[tb_systemLog] ON 

INSERT [dbo].[tb_systemLog] ([Id], [user_id], [user_name], [operation_time], [operation]) VALUES (1, 1, N'1', N'1', N'1')
SET IDENTITY_INSERT [dbo].[tb_systemLog] OFF
SET IDENTITY_INSERT [dbo].[tb_user] ON 

INSERT [dbo].[tb_user] ([Id], [username], [num], [password], [gender], [role_id], [create_time], [last_login_time]) VALUES (1, N'mybatisPlusTest', NULL, N'11', NULL, 1, N'Fri Jun 15 20:56:44 CST 2018', NULL)
INSERT [dbo].[tb_user] ([Id], [username], [num], [password], [gender], [role_id], [create_time], [last_login_time]) VALUES (2, N'admin', NULL, N'123456', NULL, 3, N'20180615 09:04:21', NULL)
INSERT [dbo].[tb_user] ([Id], [username], [num], [password], [gender], [role_id], [create_time], [last_login_time]) VALUES (3, N'sam', NULL, N'123456', NULL, 1, N'2018-06-15 09:04:47', NULL)
SET IDENTITY_INSERT [dbo].[tb_user] OFF
ALTER TABLE [dbo].[tb_student]  WITH CHECK ADD  CONSTRAINT [FK_tb_student_tb_class] FOREIGN KEY([class_id])
REFERENCES [dbo].[tb_class] ([Id])
GO
ALTER TABLE [dbo].[tb_student] CHECK CONSTRAINT [FK_tb_student_tb_class]
GO
ALTER TABLE [dbo].[tb_student]  WITH CHECK ADD  CONSTRAINT [FK_tb_student_tb_school] FOREIGN KEY([school_id])
REFERENCES [dbo].[tb_school] ([school_id])
GO
ALTER TABLE [dbo].[tb_student] CHECK CONSTRAINT [FK_tb_student_tb_school]
GO
ALTER TABLE [dbo].[tb_user]  WITH CHECK ADD  CONSTRAINT [FK_tb_user_tb_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[tb_role] ([Id])
GO
ALTER TABLE [dbo].[tb_user] CHECK CONSTRAINT [FK_tb_user_tb_role]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[27] 4[28] 2[30] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "s"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 230
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 6
               Left = 268
               Bottom = 127
               Right = 423
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_school"
            Begin Extent = 
               Top = 6
               Left = 461
               Bottom = 127
               Right = 625
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1770
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_studentInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_studentInfo'
GO
